.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/ca/AULAS_UFG.jpg');
  background-size: cover;
  background-position: center center;
}


.white-text{
  color: #ffffff !important;
}